.code-editor-wrapper {
    position: relative;
    height: 100%;
}

.code-editor-wrapper .button-format {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 20;
    opacity: 0;
    transition: opacity 0.3s;
}

.code-editor-wrapper:hover .button-format {
    opacity: 1;
}
